<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>7007189106-q0fkqrlfgp75koo24c2qt9u09pb0e6dj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7007189106-q0fkqrlfgp75koo24c2qt9u09pb0e6dj</string>
	<key>API_KEY</key>
	<string>AIzaSyDBXvDIcs9GeyeA24o2yUiENsDKvKpBL98</string>
	<key>GCM_SENDER_ID</key>
	<string>7007189106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>one.mmk.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-7a77e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-7a77e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7007189106:ios:ac5d21e17f2f1694</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-7a77e.firebaseio.com</string>
</dict>
</plist>